* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(./Src/bgc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}

.container{
  width: 400px;
  height: 550px;
  border-radius: 60px;
  /* background: linear-gradient(145deg, #387b93, #4293ae);
  box-shadow:  27px 27px 54px #214a58,
             -27px -27px 54px #5bc8ee; */
  margin: 20px;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border:1px solid  rgb(237, 101, 101);
  box-shadow:1px 1px 30px #301616,-1px -1px 30px #4b2121,inset 1px 1px 10px rgb(196, 196, 196), inset -1px -1px 10px rgb(196, 196, 196);

}
.songInfo{
  display: flex;
  flex-direction: column;
  justify-items:center;
  /* border:2px solid  #301616; */
}

.songInfo img{
  margin: 20px 0 3px 0 ;
  height: 330px;
  width: 330px;
  border-radius: 60px;
  border: 2px solid rgb(207, 204, 204);
}

.songInfo span{
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
  font-family:serif;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  text-shadow:2px 2px 5px black,2px 2px 5px black ;
    /* border:2px solid  #301616; */

}
.songInfo #artistPlaying{
  font-size:medium;
  margin-top: 5px;
}


#progressBar {
  height:40px;
  width: 250px;
  color: aqua;
}

.btns{
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns button{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  background-color: rgba(240, 248, 255, 0.1);
   box-shadow:1px 1px 10px rgba(54, 25, 25, 0.49),-1px -1px 10px rgba(54, 25, 25, 0.49),inset 1px 1px 10px rgb(196, 196, 196), inset -1px -1px 10px rgb(196, 196, 196);
  
  color: rgb(255, 80, 80);
  font-size: 3rem;
  font-weight: 900;
}

.btns button:hover{
     box-shadow:5px 1px 7px rgb(80, 60, 60),-5px -1px 7px rgb(200, 184, 184),inset 1px 1px 10px rgb(196, 196, 196), inset -1px -1px 10px rgb(196, 196, 196);
}

.btns button:active{
     box-shadow:inset 1px 1px 10px rgb(80,60,60), inset -1px -1px 10px rgb(196, 196, 196);
}

#playBtn{
  text-align: center;
  font-size: 2rem;
  
}

#playBtn:hover{
  box-shadow:5px 1px 7px rgb(80, 60, 60),-5px -1px 7px rgb(200, 184, 184),inset 1px 1px 10px rgb(196, 196, 196), inset -1px -1px 10px rgb(196, 196, 196);

}

#playBtn:active{
     box-shadow:inset 1px 1px 10px rgb(80,60,60), inset -1px -1px 10px rgb(196, 196, 196);
}
  


#container1{
  width: 400px;
  height: 550px;
  border-radius: 60px;
  margin: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border:1px solid  rgb(237, 101, 101);
  box-shadow:1px 1px 30px #301616,-1px -1px 30px #4b2121,inset 1px 1px 10px rgb(196, 196, 196), inset -1px -1px 10px rgb(196, 196, 196);
  overflow-y: scroll;
}

.songElement{
  border: 2px solid rgb(55, 34, 56);
  width : 90%;
  height: 60px;
  margin: 5px 0px;
  border-radius: 22px;
  background-color:rgba(235, 172, 172, 0.8);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 2fr;
  transition: all 0.3s ease;
}

.songElement:hover{
  border: 2px solid rgb(214, 108, 108);
  transform: scale(1.1);
}

.songElement:active{
  border: 3px solid rgb(209, 0, 0);
  transform: scale(1);
}

.songElement img{
  height: 50px;
  width: 50px;
  grid-column: 1/2;
  grid-row: 1/6;
  border-radius: 15px;
  margin:3px 5px 5px 8px;

}
.songElement span{
  font-size:20px;
  font-weight: 550;
  font-family: Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  /* text-shadow:2px 2px 5px black,2px 2px 5px black ; */
    /* border:2px solid  #301616; */
}
 .songElement #artistName{
  font-size: 15px;
  line-height: 0.5;
 }
  .songElement #songName{
    margin-top: 7px;
    line-height: 1;

  }

.playing{
   background-color:rgba(250, 221, 221, 0.8);
}

